Flask==2.2.2 # Webframework
gunicorn # WSGI-HTTP-Server für Python-Anwendungen
Werkzeug==2.2.2 # Werkzeug stellt die grundlegende Infrastruktur bereit, die Flask für Routing, Anfragen und Antworten sowie Debugging nutzt.
